
/*mobile first*/

html {
  font-family: sans-serif;
}

h1 {
  width: 100%;
  top: 0;
  font-size: 1.5em;
  margin-left: 20px;

}

nav {
  display: flex;
  position: fixed;
  justify-content: flex-start;
  top: 2.5rem;
  width: 100%;
  left: 2.25rem;
}

.mainNav {
  font-size: 0.8rem;
}


.logo {
  display: flex;
  position: fixed;
  justify-content: flex-start;
  padding: 5px;
  margin-top: .5rem;
}

.highlight {
  color: #197A66;
}

.goal5 {
  padding-bottom: 100px;
}

.goal1 {
  padding-top: 100px;
}
.stickyHeader {
    display: flex;
    position: fixed;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #48E6B7;
  }

.goals {
  width: 90%;
  background-color:
  top: 0;
  z-index: -5;
}


  li {
    display: inline;
    top: 0;
    }

li a {
      text-decoration: none;
    }

    .anchor{
      display: flex;
      height: 170px; /*same height as header*/
      margin-top: -170px; /*same height as header*/
      visibility: hidden;
    }

.title {
  padding: 5px;
  margin-left: 50px;
}

@media only screen
  and (min-width: 500px) {


.mainNav {
      justify-content: flex-end;
      top: 5%;
      right: 1%;
      width: 50%;
      font-size: 1.5em;
    }

    h1 {
      width: 100%;
      font-size: 2.0em;
      margin-left: 20px;
    }

    .logo {
      display: flex;
      position: fixed;
      justify-content: flex-start;
      padding: 5px;
      margin-left: 5px;
      margin-top: 1.8rem;
    }
    nav {
      display: flex;
      position: fixed;
      justify-content: flex-start;
      top: 3rem;
      width: 100%;
      left: 2.25rem;
    }

ul {
    font-size: 0.8em;

}
}
